name: Makefile CI

on: workflow_dispatch

env:
  CC: clang

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: make
    - name: Handle failure
      if: failure()
      run: cat libpng-1.6.43/config.log
